<!DOCTYPE html>
<html>

<head>
  <title>Duyurular</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.ico?v=1.1">
  <link rel="stylesheet" href="styles/font.css">
  <link rel="stylesheet" href="styles/general.css">
  <link rel="stylesheet" href="styles/topnav.css">
</head>

<body>

  <div class="background" />

  <div class="topnav" id="myTopnav">
    <a href="index">Ana Sayfa</a>
    <a href="register">Kayıt Ol</a>
    <a href="notifs" >Duyurular</a>
    <a href="files">Dosyalar</a>
<a href="banlist" class="active disable">Banlar</a>
  </div>

  <div class="w3-animate-left" style="text-align: left; padding: 30px;">
    <div>
      <h2>Pyke</h2>
      <h3>01.08.2023</h3>
      <p>
	  Sebep: Fly hack<br><br>
	  Video: <a target="_blank" href='https://www.dailymotion.com/video/x8mxjif'>Açmak için tıklayın</a><br><br>
	  Şifre: 123456
	  </p>
    </div>
    <br>
    <div>
      <h2>gok2</h2>
      <h3>01.08.2023</h3>
      <p>
		Sebep: Fly hack<br><br>
		Video: <a target="_blank" href='https://www.dailymotion.com/video/x8mxjif'>Açmak için tıklayın</a><br><br>
		Şifre: 123456
      </p>
    </div>
    <br>
  </div>

</body>

</html>