<!DOCTYPE html>
<html>

<head>
  <title>Banlist</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.ico?v=1.1">
  <link rel="stylesheet" href="styles/font.css">
  <link rel="stylesheet" href="styles/general.css">
  <link rel="stylesheet" href="styles/topnav.css">
</head>

<body>

  <div class="background" />

  <div class="topnav" id="myTopnav">
    <a href="index">Index</a>
  </div>

  <div class="w3-animate-left" style="text-align: left; padding: 30px;">
    <div>
      <h2>Error occured!</h2>
      <h3>If you cant solve, please contact with <i>sarsyazilim@gmail.com</i></h3>
    </div>
  </div>

</body>

</html>