<!DOCTYPE html>
<html>

<head>
  <title>Files</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.ico?v=1.1">
  <link rel="stylesheet" href="styles/font.css">
  <link rel="stylesheet" href="styles/general.css">
  <link rel="stylesheet" href="styles/topnav.css">

  <style>
    .item {
      display: inline-block;
      width: 200px;
      height: 350px;
      opacity: .9;
      transition: ease-in-out .25s;
    }

    .item:hover {
      opacity: 1;
      transition: ease-in-out .25s;
    }

    .item_img {
      width: 150px;
      height: 150px;
      margin: auto;
      display: block;

    }

    .item_txt {
      text-align: center;
      overflow: hidden;
      height: 150px;
    }

    .item_lnk {
      text-decoration: none;

    }
  </style>
</head>

<body>
  <div class="background" />

  <div class="topnav" id="myTopnav">
    <a href="index"><<</a>
    <a href="files" class="active disable">Files</a>
  </div>

  <div style="padding: 30px;">
    <div class="w3-animate-left">
      <div class="item">
        <a class="item_lnk" target="_blank" href="https://multimc.org/">
          <h3 class="item_txt">MultiMC Minecraft Launcher</h3>
          <img class="item_img"
            src="https://user-images.githubusercontent.com/18623872/111699553-485a7080-8806-11eb-8976-f113a2ed705f.png"
            style="transform: scale(1.25);">
        </a>
      </div>
      <div class="item">
        <a class="item_lnk" target="_blank" href="https://play.google.com/store/apps/details?id=com.mojang.minecraftpe">
          <h3 class="item_txt">Minecraft Pocket Edition</h3>
          <img class="item_img" src="https://image.ibb.co/iwyBfa/minecraft_pe.png">
        </a>
      </div>
      <div class="item">
        <a class="item_lnk" target="_blank" href="https://www.java.com/tr/download/manual.jsp">
          <h3 class="item_txt">JAVA JRE - Install 1.</h3>
          <img class="item_img" src="https://cdn.freebiesupply.com/logos/thumbs/2x/java-4-logo.png"
            style="padding-top: 15px; padding-bottom: 15px; background-color: white; border-radius: 25px;">
        </a>
      </div>
      <div class="item">
        <a class="item_lnk" target="_blank" href="https://www.oracle.com/tr/java/technologies/downloads/#java17">
          <h3 class="item_txt">JAVA JDK - Install 2.</h3>
          <img class="item_img" src="https://cdn.freebiesupply.com/logos/thumbs/2x/java-4-logo.png"
            style="padding-top: 15px; padding-bottom: 15px; background-color: white; border-radius: 25px;">
        </a>
      </div>
      <div class="item">
        <a class="item_lnk" target="_blank"
          href="https://www.curseforge.com/minecraft/customization/complementary-shaders">
          <h3 class="item_txt">Complementary Shaders</h3>
          <img class="item_img" src="https://media.forgecdn.net/avatars/875/480/638298072228596362.png"
            style="object-fit: cover; object-position: 15% 100%; border-radius: 25px;">
        </a>
      </div>
      <div class="item">
        <a class="item_lnk" target="_blank" href="https://www.optifine.net/home">
          <h3 class="item_txt">Optifine</h3>
          <img class="item_img" src="https://cdn.freebiesupply.com/logos/thumbs/2x/java-4-logo.png"
            style="padding-top: 15px; padding-bottom: 15px; background-color: white; border-radius: 25px;">
        </a>
      </div>
    </div>
</body>

</html>