<!DOCTYPE html>
<html>

<head>
  <title>Gallery</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.ico?v=1.1">
  <link rel="stylesheet" href="styles/font.css">
  <link rel="stylesheet" href="styles/general.css">
  <link rel="stylesheet" href="styles/topnav.css">

  <style>
    .responsive {
      border-radius: 25px;
      width: 22.99999%;
      height: auto;
      margin: 10px;
      box-shadow: 4px 4px 20px black;
      transition: all .2s ease-in-out;
    }

    .responsive:hover {
       transform: scale(1.25);
    }

    @media only screen and (max-width: 1600px) {
      .responsive {
        width: 30.99999%;
      }
    }

    @media only screen and (max-width: 1200px) {
      .responsive {
        width: 44.99999%;
      }
    }

    @media only screen and (max-width: 800px) {
      .responsive {
        width: 96%;
      }
    }
  </style>
</head>

<body>

  <div class="background" />

  <div class="topnav" id="myTopnav">
    <a href="index">
      << </a>
        <a href="gallery" class="active disable">Gallery</a>
  </div>

  <div style="padding: 20px; width:100%">
    <img class="responsive" src="images/ss/abc (1).jpg">
    <img class="responsive" src="images/ss/abc (2).jpg">
    <img class="responsive" src="images/ss/abc (3).jpg">
    <img class="responsive" src="images/ss/abc (4).jpg">
    <img class="responsive" src="images/ss/abc (5).jpg">
    <img class="responsive" src="images/ss/abc (6).jpg">
    <img class="responsive" src="images/ss/abc (7).jpg">
    <img class="responsive" src="images/ss/abc (8).jpg">
    <img class="responsive" src="images/ss/abc (9).jpg">
    <img class="responsive" src="images/ss/abc (10).jpg">
    <img class="responsive" src="images/ss/abc (11).jpg">
    <img class="responsive" src="images/ss/abc (12).jpg">
    <img class="responsive" src="images/ss/abc (13).jpg">
    <img class="responsive" src="images/ss/abc (14).jpg">
    <img class="responsive" src="images/ss/abc (15).jpg">
    <img class="responsive" src="images/ss/abc (16).jpg">
    <img class="responsive" src="images/ss/abc (17).jpg">
    <img class="responsive" src="images/ss/abc (18).jpg">
    <img class="responsive" src="images/ss/abc (19).jpg">
    <img class="responsive" src="images/ss/abc (20).jpg">
    <img class="responsive" src="images/ss/abc (21).jpg">
    <img class="responsive" src="images/ss/abc (22).jpg">
    <img class="responsive" src="images/ss/abc (23).jpg">
    <img class="responsive" src="images/ss/abc (24).jpg">
    <img class="responsive" src="images/ss/abc (25).jpg">
    <img class="responsive" src="images/ss/abc (26).jpg">
    <img class="responsive" src="images/ss/abc (27).jpg">
    <img class="responsive" src="images/ss/abc (28).jpg">
    <img class="responsive" src="images/ss/abc (29).jpg">
    <img class="responsive" src="images/ss/abc (30).jpg">
    <img class="responsive" src="images/ss/abc (31).jpg">
    <img class="responsive" src="images/ss/abc (32).jpg">
    <img class="responsive" src="images/ss/abc (33).jpg">
    <img class="responsive" src="images/ss/abc (34).jpg">
    <img class="responsive" src="images/ss/abc (35).jpg">
    <img class="responsive" src="images/ss/abc (36).jpg">
    <img class="responsive" src="images/ss/abc (37).jpg">
    <img class="responsive" src="images/ss/abc (38).jpg">
    <img class="responsive" src="images/ss/abc (39).jpg">
    <img class="responsive" src="images/ss/abc (40).jpg">
    <img class="responsive" src="images/ss/abc (41).jpg">
  </div>
</body>

</html>