<!DOCTYPE html>
<html>

<head>
  <title>Pakacraft</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="js/setter.js"></script>
  <script src="js/audio.js"></script>
  <link rel="icon" href="images/favicon.ico?v=1.1">
  <link rel="stylesheet" href="styles/font.css">
  <link rel="stylesheet" href="styles/general.css">
  <link rel="stylesheet" href="styles/topnav.css">
</head>

<body onload="M_READ('info.xml','version','version');
          M_READ('info.xml','status','state');
          C_CHANGE('status');
          M_READ('info.xml','pclink','pc_link');
          M_READ('info.xml','mobillink','mobile_link');">

  <div class="background" />

  <div class="topnav" id="myTopnav">
    <a href="index" class="active disable">Ana Sayfa</a>
    <a href="register">Kayıt Ol</a>
    <a href="notifs">Duyurular</a>
    <a href="files">Dosyalar</a>
  </div>

  <div class="w3-padding-large w3-large" style="margin-top: 10px;">
    <div><span style="color:white">Sunucu durumu:&nbsp;&nbsp;&nbsp;</span><span id="status">Bilinmiyor</span></div>
    <div><span style="color:white">Sürüm: </span><span id="version" style="color:lightgray">Bilinmiyor</span> </div>
  </div>

  <div class="w3-display-middle" style="margin-top: 50px;">
    <h1 class="w3-animate-top w3-center">PAKA CRAFT</h1>
    <hr class="w3-animate-top w3-border-grey" />
    <p class="w3-animate-top w3-xlarge w3-center"> Pc IP Adresimiz:<br>
      <a target="_blank" href="images/pc.png"><span id="pclink">Bilinmiyor</span></a>
      <br> <br>
      Mobil IP Adresimiz: <br>
      <a target="_blank" href="images/mobil.png"><span id="mobillink">Bilinmiyor</span></a>
    </p>
    <p class="w3-animate-top w3-large w3-center">Sunucuya girebilmek için kullanıcı kaydı yapmalısınız! Aksi halde whitelist hatası ile karşılacaksınız.</p>
    <p class="w3-animate-top w3-large w3-center">İletişim: <a href="https://discord.gg/zcVCUpRkra" target="_blank"
        class="w3-large" style="color:#77f; text-shadow: 0px 0px 30px #fff;">
        <div class="w3-animate-top w3-center">
          <span style="vertical-align: bottom;">Discord</span>
          <img src="images/dc.png" height="40" />
        </div>
      </a>
    </p>
  </div>

  <div class="w3-display-bottomleft w3-padding-large">
    <img class="image_op disable" src="images/icon.png" style="opacity: .5; height:20vw; max-height:200px;">
  </div>

  <div class="w3-display-bottomright w3-padding-large ">
    <a href="https://sarsyazilim.com.tr">
      <img class="image_op" src="images/sars.jpg" style="height:20vw; max-height:200px;">
    </a>
  </div>

</body>

</html>