<!DOCTYPE html>
<html>

<head>
  <title>Pakacraft</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="js/setter.js"></script>
  <script src="js/audio.js"></script>
  <link rel="icon" href="images/favicon.ico?v=1.1">
  <link rel="stylesheet" href="styles/font.css">
  <link rel="stylesheet" href="styles/general.css">
  <link rel="stylesheet" href="styles/topnav.css">
</head>

<body onload="M_READ('info.xml','version','version');
          M_READ('info.xml','status','state');
          C_CHANGE('status');
          M_READ('info.xml','pclink','pc_link');
          M_READ('info.xml','mobillink','mobile_link');">

  <div class="background" />

  <div class="topnav" id="myTopnav">
    <a href="index" class="active disable">Index</a>
    <a href="notifications">Notifications</a>
    <a href="files">Files</a>
    <a href="banlist">Banlist</a>
    <a target="_blank" href="https://map.pakacraft.online">Map</a>
    <a href="location">Locations</a>
    <a href="gallery">Gallery</a>
    <a href="perms">Perms</a>
    <a href="vip" style="color: yellow;">Vip</a>
  </div>

  <div class="w3-padding-large w3-large" style="margin-top: 10px;">
    <div><span style="color:white">Server state:&nbsp;&nbsp;&nbsp;</span><span id="status">Not known</span></div>
    <div><span style="color:white">Version: </span><span id="version" style="color:lightgray">Not known</span> </div>
  </div>

  <div class="w3-display-middle" style="margin-top: 50px;">
    <h1 class="w3-animate-top w3-center">PAKA CRAFT</h1>
    <hr class="w3-animate-top w3-border-grey" />
    <p class="w3-animate-top w3-xlarge w3-center"> Pc IP:<br>
      <a target="_blank" href="images/pc.png"><span id="pclink">Not known</span></a>
      <br> <br>
      Mobil IP: <br>
      <a target="_blank" href="images/mobil.png"><span id="mobillink">Not known</span></a>
    </p>
    <p class="w3-animate-top w3-large w3-center">You do not need to register until we reach a certain number of users.
    </p>
    <p class="w3-animate-top w3-large w3-center">Contact us by using discord: <a href="https://discord.gg/zcVCUpRkra"
        target="_blank" class="w3-large" style="color:#77f; text-shadow: 0px 0px 30px #fff;">
        <div class="w3-animate-top w3-center">
          <span style="vertical-align: bottom;">Discord</span>
          <img src="images/dc.png" height="40" />
        </div>
      </a>
    </p>
  </div>

  <div class="w3-display-bottomleft w3-padding-large">
    <img class="image_op disable" src="images/icon.png" style="opacity: .5; height:20vw; max-height:200px;">
  </div>

  <div class="w3-display-bottomright w3-padding-large ">
    <a href="https://sarsyazilim.com.tr">
      <img class="image_op" src="images/as_icon.png" style="height:20vw; max-height:200px;">
    </a>
  </div>

</body>

</html>