<!DOCTYPE html>
<html>

<head>
  <title>Locations</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.ico?v=1.1">
  <link rel="stylesheet" href="styles/font.css">
  <link rel="stylesheet" href="styles/general.css">
  <link rel="stylesheet" href="styles/topnav.css">

  <style>
    .loc {
      display: inline-block;
      color: white;
      margin-right: 30px;
    }
  </style>
</head>

<body>

  <div class="background" />

  <div class="topnav" id="myTopnav">
    <a href="index"/><<<a href="location" class="active disable">Locations</a>
  </div>

  <div class="w3-animate-left" style="padding: 30px;">

    <a class="loc" href="http://pakacraft.online:8123/?worldname=world&mapname=flat&zoom=5&x=-180&y=64&z=-25">
      <h2>Dereli Village</h2>
    </a>
    <a class="loc" href="http://pakacraft.online:8123/?worldname=world&mapname=flat&zoom=5&x=-246&y=64&z=-405">
      <h2>Neighbor Village</h2>
    </a>
    <a class="loc" href="http://pakacraft.online:8123/?worldname=world&mapname=flat&zoom=5&x=-365&y=64&z=213">
      <h2>Border Outpost</h2>
    </a>
    <a class="loc" href="http://pakacraft.online:8123/?worldname=world&mapname=flat&zoom=5&x=-438&y=64&z=-97">
      <h2>Lumberjack</h2>
    </a>
    <a class="loc" href="http://pakacraft.online:8123/?worldname=world&mapname=flat&zoom=5&x=148&y=64&z=-344">
      <h2>Martin's Farm</h2>
    </a>
    <a class="loc" href="http://pakacraft.online:8123/?worldname=world&mapname=flat&zoom=5&x=-150&y=64&z=-539">
      <h2>Mysterious Tower</h2>
    </a>
    <a class="loc" href="http://pakacraft.online:8123/?worldname=world&mapname=flat&zoom=5&x=-589&y=64&z=-536">
      <h2>Traders River</h2>
    </a>
     <a class="loc" href="http://pakacraft.online:8123/?worldname=world&mapname=flat&zoom=5&x=-322&y=64&z=-911">
      <h2>Dereli Castle</h2>
    </a>
    <a class="loc" href="http://pakacraft.online:8123/?worldname=world&mapname=flat&zoom=5&x=253&y=64&z=-1072">
      <h2>Dereli Mines</h2>
    </a>
    <a class="loc" href="http://pakacraft.online:8123/?worldname=world&mapname=flat&zoom=5&x=-771&y=64&z=-1206">
      <h2>Enterance of The End</h2>
    </a>
    <a class="loc" href="http://pakacraft.online:8123/?worldname=world&mapname=flat&zoom=5&x=656&y=64&z=-616">
      <h2>Dereli Town</h2>
    </a>
  </div>

</body>

</html>