<!DOCTYPE html>
<html>

<head>
  <title>Duyurular</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.ico?v=1.1">
  <link rel="stylesheet" href="styles/trynow.css">
  <style>
    p,
    h3,
    h1 {
      margin: auto;
      width: 75%;
    }
  </style>
</head>

<body>
  <div class="w3-top op">
    <div class="w3-row w3-large">
      <div class="w3-col s3">
        <a href="release" class="w3-button w3-block">Anasayfa</a>
      </div>
      <div class="w3-col s3">
        <a href="register" class="w3-button w3-block">Whitelist Kayıt Yaptır</a>
      </div>
      <div class="w3-col s3">
        <a href="trynow" class="w3-button w3-block">İndir</a>
      </div>
      <div class="w3-col s3">
        <a href="banlist" class="w3-button w3-block">Ban Listesi</a>
      </div>
    </div>
  </div>

  <div class="topo">
   
    <div>
      <h1 class="w3-animate-top w3-text-white">Bukkit-paper a geçtik !</h1>
      <h3 class="w3-animate-right">- 05.01.2023</h3>
      <p class="w3-animate-left">
        Chunkların telefonda yüklenmeme sorunundan dolayı paper a geçtik.
        Tamamen sorunsuz bir deneyim sizi bekliyor...
      </p>
    </div>
    <div>
      <h1 class="w3-animate-top w3-text-white">Mobil e entegreyiz !</h1>
      <h3 class="w3-animate-right">- 04.01.2023</h3>
      <p class="w3-animate-left">
        Yeni eklediğimiz özellikler sayesinde artık telefondanda sunucumuza katılabilirsin.
        Tek yapman gereken siteden kayıt olduğundaki ekranda bulunan görseli inceleyerek aramıza katılmak. Uzanarak Minecraft oynamak gibisi yok. Hele birde DC kullanıyorsan hayat sana güzel.
      </p>
    </div>
    <div>
      <h1 class="w3-animate-top w3-text-white">Sunucumuz açıldı !</h1>
      <h3 class="w3-animate-right">- 03.01.2023</h3>
      <p class="w3-animate-left">
        Hepimize hayırlı olsun. Minecraft'ın 1.19.2 sürümünde bukkit-spigot
        ile açılışı yaptık. Yavaş yavaş sunucumuza bir sürü özellik ekleyerek devam
        ediyoruz. Aynı zamanda da titiz kararlarımız ile Minecraft'ın survival havasını
        bozmuyoruz.
      </p>
    </div>
  </div>
</body>

</html>