<!DOCTYPE html>
<html>

<head>
  <title>Notifications</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.ico?v=1.1">
  <link rel="stylesheet" href="styles/font.css">
  <link rel="stylesheet" href="styles/general.css">
  <link rel="stylesheet" href="styles/topnav.css">
</head>

<body>

  <div class="background" />

  <div class="topnav" id="myTopnav">
    <a href="index"><<</a>
    <a href="notifications" class="active disable">Notifications</a>
  </div>

  <div class="w3-animate-left" style="text-align: left; padding: 30px;">
    <div>
      <h2>We are switching to English!</h2>
      <h3>08/03/2023</h3>
      <p>
        Due to our less player count we are switching to english for reaching global minecraft lovers!
      </p>
    </div>
    <br>
    <div>
      <h2>Continue from where we left!</h2>
      <h3>08/01/2023</h3>
      <p>
        We made a lot of changes.
      </p>
    </div>
    <br>
    <div>
      <h2>We are having a break...</h2>
      <h3>04/08/2023</h3>
      <p>
        Due to our less player count, we will take a break and make changes.
      </p>
    </div>
    <br>
    <div>
      <h2>Bukkit-paper!</h2>
      <h3>01/05/2023</h3>
      <p>
        We switched to bukkit-paper due to the problem of chucks not loading on the phone.
      </p>
    </div>
    <br>
    <div>
      <h2>We are integrated into mobile!</h2>
      <h3>01/04/2023</h3>
      <p>
        You can now join into our server from your phone. There's nothing like lying down and playing Minecraft.
      </p>
    </div>
    <br>
    <div>
      <h2>Our server is up!</h2>
      <h3>01/03/2023</h3>
      <p>
        Good luck to all of us. Bukkit-spigot version is 1.19.2 of we opened with. We keep adding a lot of features to
        our server slowly.
      </p>
    </div>

  </div>

</body>

</html>