<!DOCTYPE html>
<html>

<head>
  <title>Duyurular</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.ico?v=1.1">
  <link rel="stylesheet" href="styles/font.css">
  <link rel="stylesheet" href="styles/general.css">
  <link rel="stylesheet" href="styles/topnav.css">
</head>

<body>

  <div class="background" />

  <div class="topnav" id="myTopnav">
    <a href="index">Ana Sayfa</a>
    <a href="notifs" class="active disable">Duyurular</a>
    <a href="files">Dosyalar</a>
  </div>

  <div class="w3-animate-left" style="text-align: left; padding: 30px;">
    <div>
      <h2>Ara verdik...</h2>
      <h3>08.04.2023</h3>
      <p>
        Sunucumuzun bulunduğu hosting firmasına virüs bulaştığına ve maalesef verilerin kurtarılamadığına dair kendilerinden
        oldukça üzücü bir haber aldık.
        Haritanın yeniden oluşturulması ve bütün ayarların tekrardan yapılması gerekmekte.
        Bu süreç tahmini iki ayı bulacaktır. Mevcut oyuncular talep ederse paraları ve eşyaları tekrardan taraflarına
        teslim edilecektir.
        Çok daha iyi bir şekilde ve daha fazla oyuncu sayısıyla geri dönüş yapmayı planlıyoruz. Şimdilik esen kalın.
      </p>
    </div>
    <br>
    <div>
      <h2>Bukkit-paper a geçtik !</h2>
      <h3>05.01.2023</h3>
      <p>
        Chunkların telefonda yüklenmeme sorunundan dolayı paper a geçtik.
        Tamamen sorunsuz bir deneyim sizi bekliyor...
      </p>
    </div>
    <br>
    <div>
      <h2>Mobil e entegreyiz !</h2>
      <h3>04.01.2023</h3>
      <p>
        Yeni eklediğimiz özellikler sayesinde artık telefondanda sunucumuza katılabilirsin.
        Tek yapman gereken siteden kayıt olduğundaki ekranda bulunan görseli inceleyerek aramıza katılmak. Uzanarak
        Minecraft oynamak gibisi yok. Hele birde DC kullanıyorsan hayat sana güzel.
      </p>
    </div>
    <br>
    <div>
      <h2>Sunucumuz açıldı !</h2>
      <h3>03.01.2023</h3>
      <p>
        Hepimize hayırlı olsun. Minecraft'ın 1.19.2 sürümünde bukkit-spigot
        ile açılışı yaptık. Yavaş yavaş sunucumuza bir sürü özellik ekleyerek devam
        ediyoruz. Aynı zamanda da titiz kararlarımız ile Minecraft'ın survival havasını
        bozmuyoruz.
      </p>
    </div>

  </div>

</body>

</html>