<!DOCTYPE html>
<html>

<head>
  <title>Success</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.ico?v=1.1">
  <link rel="stylesheet" href="styles/font.css">
  <link rel="stylesheet" href="styles/general.css">
  <link rel="stylesheet" href="styles/topnav.css">
</head>

<body>
  <div class="background" />
  <br>
  <h2 class="w3-animate-left w3-text-white w3-center">Welcome {{uname}}</h2>
  <br>
  <h2 class="w3-animate-left w3-text-white w3-center">Our server is compatible for Pc and Mobile.</h2>
  <br>
  <h3 class="w3-animate-left w3-text-white w3-center">
    <br>
    When you first enter to our server, you need to register with command in below
    <br>
    <b><i>/register yourPassword</i></b>
    <br><br>
   When you enter to our server later, you need to login with command in below 
    <br>
    <b><i>/login yourPassword</i></b>
    <br><br>
   Have a nice time!
  </h2>
  <br>
  <br>

  <h2 class="w3-animate-left w3-text-white w3-center">Bedrock Edition</h1>
  <img class="" src="images/mobile.png" style="opacity: .75; margin:auto;display: block; max-width: 100%; height:auto; ">
  <br>
  <br>
  <h2 class="w3-animate-left w3-text-white w3-center">Java Edition</h1>
  <img class="" src="images/pc.png" style="opacity: .75; margin:auto;display: block; max-width: 100%; height:auto;">


</body>

</html>