<!DOCTYPE html>
<html>

<head>
  <title>İndir</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


  <link rel="icon" href="images/favicon.ico?v=1.1">
  <link rel="stylesheet" href="styles/trynow.css">
  <style>
    div.lol {
      margin: 10%;
    }

    div.mojo {}
  </style>
</head>

<body>
  <div class="w3-top op">
    <div class="w3-row w3-large">
      <div class="w3-col s3">
        <a href="notifs" class="w3-button w3-block">Duyurular</a>
      </div>
      <div class="w3-col s3">
        <a href="register" class="w3-button w3-block">Whitelist Kayıt Yaptır</a>
      </div>
      <div class="w3-col s3">
        <a href="release" class="w3-button w3-block">Anasayfa</a>
      </div>
      <div class="w3-col s3">
        <a href="banlist" class="w3-button w3-block">Ban Listesi</a>
      </div>
    </div>
  </div>


  <div class="custom topo lol">
    <div class="w3-animate-top">
      <div style="display: inline-block;">
        <h1 class="w3-animate-left" style="margin:auto; width: 50%;">
          Minecraft PC İndir
          <br>
          TLauncher
          <br>
          Minecraft Cracked
        </h1>
        <a href="share/tlauncher.exe">
          <img class="disable rotating" src="images/mcicon.png" width="150px" height="150px" style="opacity: .8;">
        </a>
      </div>
       <div style="display: inline-block;">
        <h1 class="w3-animate-left" style="margin:auto; width: 50%;">
          Minecraft Tel İndir
          <br>
          Pocket Edition
          <br>
          Full APK
        </h1>
        <a href="share/mcpe.apk">
          <img class="disable rotating" src="images/mcicon.png" width="150px" height="150px" style="opacity: .8;">
        </a>
      </div>
      <div style="display: inline-block">
        <h1 class="w3-animate-left" style="margin:auto; width: 50%;">
          JAVA İndir
          <br>
          JRE 8 U 64 Bit
        </h1>
        <a href="share/jre.exe">
          <img class="disable rotating" src="images/jvicon.png" width="150px" height="150px" style="opacity: .8;">
        </a>
      </div>
      <div style="display: inline-block">
        <h1 class="w3-animate-left" style="margin:auto; width: 50%;">
          JAVA İndir
          <br>
          JDK 17 64 Bit
        </h1>
        <a href="share/jdk.msi">
          <img class="disable rotating" src="images/jvicon.png" width="150px" height="150px" style="opacity: .8;">
        </a>
      </div>
      <div class="mojo" style="display: inline-block">
        <h1 class="w3-animate-left" style="margin:auto; width: 50%;">
          Shader İndir
          <br>
          Complementary
          <br>
          Shaders
        </h1>
        <a href="share/shader.zip">
          <img class="disable rotating" src="images/zip-flat.png" width="150px" height="150px" style="opacity: .8;">
        </a>
      </div>
    </div>

  </div>



</body>

</html>