<!DOCTYPE html>
<html>

<head>
  <title>Başarılı</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.ico?v=1.1">
  <link rel="stylesheet" href="styles/trynow.css">

  <style>
    h2 {

      color: white;
    }

    p,
    h3,
    h2,
    {
    margin: auto;
    width: 75%;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
  </style>
</head>

<body>
  <div class="w3-top op">
    <div class="w3-row w3-large">
      <div class="w3-col s3">
        <a href="notifs" class="w3-button w3-block">Duyurular</a>
      </div>
      <div class="w3-col s3">
        <a href="release" class="w3-button w3-block">Anasayfa</a>
      </div>
      <div class="w3-col s3">
        <a href="trynow" class="w3-button w3-block">İndir</a>
      </div>
      <div class="w3-col s3">
        <a href="banlist" class="w3-button w3-block">Ban Listesi</a>
      </div>
    </div>
  </div>

  <div class="topo">
    <h1 class="w3-animate-top w3-text-white">Aramıza hoşgeldin {{uname}}</h1>
    <br>
     <h1 class="w3-animate-top w3-text-white">Sunucumuz PC ve Mobil uyumludur.</h1>
     <br>
    <h2 class="w3-animate-bottom">
      <br>
      Sunucumuza ilk girdiğinde chat e
      <br>
      <b><i>/register {{pass}}</i></b>
      <br>
      yazarak oyun için kullanıcı kaydını yapabilirsin.
      <br>
      Daha sonraki girişlerinde ise chat e
      <br>
      <b><i>/login {{pass}}</i></b>
      <br>
      yazarak giriş yapman yeterli olacaktır.
      <br>
      Giriş yaptıktan sonra ilk olarak Yardım Merkezini ziyaret edebilirsin.
      <br>
      Unutma Minecraft arkadaşlarınla birlikte oynarsan güzeldir.
      <br>
      Keyifli oyunlar dileriz...
    </h2>
     
   
    <h1 class="w3-animate-top w3-text-white">Bedrock ile aramıza katılmak için -></h1>
    <img src="images/mobil.jfif" style="opacity: .75;">
     <h1 class="w3-animate-top w3-text-white">Java ile aramıza katılmak için -></h1>
    <img src="images/pc.PNG" style="opacity: .75;">
  </div>

</body>

</html>