<!DOCTYPE html>
<html>

<head>
  <title>Başarılı</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.ico?v=1.1">

  <link rel="stylesheet" href="styles/font.css">
  <link rel="stylesheet" href="styles/general.css">
  <link rel="stylesheet" href="styles/topnav.css">
</head>

<body>

  <div class="background" />

  <div class="topnav" id="myTopnav">
    <a href="index">Ana Sayfa</a>
    <a href="register" class="active disable">Kayıt Ol</a>
    <a href="notifs">Duyurular</a>
    <a href="files">Dosyalar</a>
  </div>


  <br>
  <h2 class="w3-animate-left w3-text-white w3-center">Aramıza hoşgeldin {{uname}}</h2>
  <br>
  <h2 class="w3-animate-left w3-text-white w3-center">Sunucumuz PC ve Mobil uyumludur.</h2>
  <br>
  <h3 class="w3-animate-left w3-text-white w3-center">
    <br>
    Sunucumuza ilk girdiğinde chat e
    <br>
    <b><i>/register {{pass}}</i></b>
    <br>
    yazarak oyun içi kullanıcı kaydını yapabilirsin.
    <br>
    Daha sonraki girişlerinde ise chat e
    <br>
    <b><i>/login {{pass}}</i></b>
    <br>
    yazarak giriş yapman yeterli olacaktır.
    <br>
    Giriş yaptıktan sonra ilk olarak <b>Yardım Merkezi</b>'ni ziyaret etmeyi unutma.
    <br>
    Unutma Minecraft arkadaşlarınla birlikte oynarsan güzeldir.
    <br>
    Keyifli oyunlar dileriz...
  </h2>
  <br>
  <br>

  <h2 class="w3-animate-left w3-text-white w3-center">Bedrock Edition ile aramıza katılmak için -></h1>
  <img class="" src="images/mobil.png" style="opacity: .75; margin:auto;display: block; max-width: 100%; height:auto; ">
  <br>
  <br>
  <h2 class="w3-animate-left w3-text-white w3-center">Java Edition ile aramıza katılmak için -></h1>
  <img class="" src="images/pc.png" style="opacity: .75; margin:auto;display: block; max-width: 100%; height:auto;">


</body>

</html>