<!DOCTYPE html>
<html>

<head>
  <title>Vip</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.ico?v=1.1">
  <link rel="stylesheet" href="styles/font.css">
  <link rel="stylesheet" href="styles/general.css">
  <link rel="stylesheet" href="styles/topnav.css">

  <style>
    h1 {
      text-shadow: black;
      text-align: center;
      font-weight: bold;
    }
    h2 {
      text-shadow: black;
      text-align: center;
    }
    h3 {
      text-shadow: black;
      text-align: center;
      font-weight: bold;
    }
    .responsive {
      box-shadow: black;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 44.99999%;
      border-radius: 12px;
      height: auto;
    }
    .responsive2 {
      max-width: 29.99999%;
    }
     .responsive3 {
      max-width: 39.99999%;
    }
    @media only screen and (max-width: 1600px) {
      .responsive {
        width: 44.99999%;
      }
      .responsive2 {
        max-width: 29.99999%;
      }
      .responsive3 {
        max-width: 39.99999%;
      }
    }
    @media only screen and (max-width: 1200px) {
      .responsive {
        width: 64.99999%;
      }
      .responsive2 {
        max-width: 49.99999%;
      }
       .responsive3 {
        max-width: 54.99999%;
      }
    }
    @media only screen and (max-width: 800px) {
      .responsive {
        width: 94%;
      }
      .responsive2 {
        max-width: 69.99999%;
      }
      .responsive3 {
        max-width: 79.99999%;
      }
    }
  </style>
</head>

<body>

  <div class="background" />

  <div class="topnav" id="myTopnav">
    <a href="index">
      << </a>
        <a href="vip" class="active disable">Vip</a>
  </div>

  <div style="padding: 30px;">
    <div class="w3-animate-left">
      <h1>Being a V.I.P</h1>
      <h2>By purchasing a V.I.P membership, you can support our server and contribute to our development.</h2>
      <br>
      <h1>*** V.I.P Features ***</h1>

      <h3>- No teleport time and cooldown!</h3>
      <h3>- Kit Vip Luck!</h3>
      <h3>- Kit Vip Start!</h3>
      <h3>- and more commands!</h3>
      <br>
        <h3>- Special Vip menu /vip:</h3>
 <img src="images/vip_menu.jpg" class="responsive3 responsive" />
 <br>
 <br>
      <h3>- Special Mines access:</h3>
      <img src="images/vip_mines_ss.jpg" class="responsive" />
      <br>
      <br>
      <h3>- Special chat prefix:</h3>
      <img src="images/vip_chat_prefix.jpg" class="responsive2 responsive " />
      <br>
<br>
 <h1>V.I.P Prices ( all is discounted )</h1>
 <h2>Monthly: $10</h2>
  <h2>2 Months: $15</h2>
   <h2>3 Months: $20</h2>
   <h2>6 Months: $30</h2>
   <h2>1 Year: $50</h2>
<br>
<br>
        <h1>How to buy V.I.P ?</h1>
        <h3>Send us your payment screenshot to <a href="mailto:acsayear@gmail.com">acsayear@gmail.com</a></h2>
        <br>
        <h2>you can buy via BTC:</h2>
        <h3>bc1qdecqwz5yz97wkcnfwy8xq4n390fwsmegkv6s4szww4fsv3228qnq9jc4l8</h3>
        <br>
        <h2>you can buy via IBAN:</h2>
        <h3>TR200003200000000094769725<br>MUHAMMED ALİ SARIASLAN</h3>
        <br>
        <h2>you can buy via fast address:</h2>
        <h3>acsayear@gmail.com</h3>
    </div>
  </div>
</body>

</html>