@font-face {
    font-family: "Minecraft";
    src: url("../fonts/Minecraftia-Regular.ttf");
  }
  
  h1 {
    font-family: "Minecraft";
    src: url("../fonts/Minecraftia-Regular.ttf");
  }
  
  div {
    font-family: "Minecraft";
    src: url("../fonts/Minecraftia-Regular.ttf");
  }