@font-face {
    font-family: "Minecraft";
    src: url("../fonts/Minecraftia-Regular.ttf");
  }
  
  div,h1,h2,h3 {
    font-family: "Minecraft";
    src: url("../fonts/Minecraftia-Regular.ttf");
  }